<a href="https://colab.research.google.com/github/comerenna/Computer-Vision-Assessment1/blob/main/python_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!!")

Hello World!!

In [ ]:
x = 10
if x == 15:
  print("It is not possible")
else:
  print("It is possible")

It is possible

In [ ]:
item1 = 100
item2 = 200
item3 = 300

total_amount = item1 + item2 + item3
print(total_amount)

600

In [ ]:
loan_amount = 100000
pay_so_far = 20000
outstanding_amount = loan_amount - pay_so_far
print(outstanding_amount)

80000

#Imagine that you are building a credit risk calculator, you need to check the
#outstanding amount (loan amount - pay so far) and check this
#if the outstanding amount is above 50000, then it is a high risk account
#if the outstanding amount is below or equal to 50000, then it is a moderate risk account

In [ ]:
loan_amount_amount = 100000
pay_so_far = 20000
outstanding_amount = loan_amount - pay_so_far
if outstanding_amount <= 50000:
  print("it is a moderate risk")
else:
  print("the risk is high!!!")

the risk is high!!!

#Imagine you are a groceries operator. Whenever you are doing the billing,
#you have to calculate the total amount paid based on items purchased.
#and for all the amount greater than 500, you will give 10% discount, and any amount below that you can give 5% off.
#Finally, tell to customer how much to pay?

In [5]:
item1 = 100
item2 = 300
item3 = 400
total_amount = item1 + item2 +item3

if total_amount > 500:
  discount = 10
else:
  discount = 5

amount_to_pay = total_amount - total_amount * discount/100

print(amount_to_pay)

720.0

In [8]:
item1 = 100
item2 = 300
item3 = 400
total_amount = item1 + item2 +item3

if total_amount > 500:
  discount = 0.1
else:
  discount = 0.05

amount_to_pay = total_amount - (total_amount * discount)

print(amount_to_pay)

720.0

In [7]:
item1 = 100
item2 = 100
item3 = 150
total_amount = item1 + item2 +item3

if total_amount > 500:
  discount = total_amount * 0.1
  amount_to_pay = total_amount - discount
  print(amount_to_pay)
elif total_amount < 500:
  discount = total_amount * 0.05
  amount_to_pay = total_amount - discount
  print(amount_to_pay)
else:
  print("i get it")

332.5

In [2]:
item1 = 100
item2 = 300
item3 = 400
total_amount = item1 + item2 +item3

if total_amount > 500:
  discount = total_amount * 0.1
  amount_to_pay = total_amount - discount
  print(amount_to_pay)
elif total_amount < 500:
  discount = total_amount * 0.05
  amount_to_pay = total_amount - discount
  print(amount_to_pay)
else:
  print("i get it")

720.0

In [3]:
item1 = 100
item2 = 400
item3 = 150
total_amount = item1 + item2 +item3

if total_amount == 500:
  discount = total_amount * 0.1
  amount_to_pay = total_amount - discount
  print(amount_to_pay)
elif total_amount < 500:
  discount = total_amount * 0.05
  amount_to_pay = total_amount - discount
  print(amount_to_pay)
else:
  print("i get it")

i get it

Question (1) A store sells apples at $5 each and bananas at $3 each. Declare variables apples_price and bananas_price with appropriate values. Calculate the total cost for purchasing 10 apples and 7 bananas and store the result in total_cost.

In [3]:
apples_price = 5
bananas_price = 3

total_cost = 10 * apples_price + 7 * bananas_price
print(total_cost)

71

Question (2) You have a monthly salary of $4000 and expenses that include rent ($1200), groceries $300 and miscelleneous $500. Calculate the amount left after expenses and store it in a variable named remaining_balance

In [5]:
monthly_salary = 4000
rent = 1200
groceries = 300
miscelleneous = 500
total_expenses = rent + groceries + miscelleneous
remaining_balance = monthly_salary - total_expenses
print(remaining_balance)

2000

Question 3: A team won 28 matches this season, and last season they won 18 matches. Declare variables current_season_wins and last_season_wins with respective values. Calculate the increase in matches won and store it in win_difference

In [4]:
currrent_season_wins = 28
last_season_wins = 18

win_difference = currrent_season_wins + last_season_wins
print(win_difference)

46

Question 4: A travel company charges $250 per person for a weekend trip and gives a $100 group discount for every 5 people. If a group has 15 people Calculate the total cost for the group and store it in group_trip_cost.

In [11]:
charges_per_person = 250
discount_per_five = 100
discount_per_fifteen = 300
five_people = (charges_per_person * 5) - discount_per_five
fifteen_people = (charges_per_person * 15) - discount_per_fifteen

group_trip_cost = five_people + fifteen_people
print(group_trip_cost)

4600

Question 5: An item costs $120, and there is a discount of 15%. Calculate the final price after the discount and store it in discounted_price.

In [13]:
cost_per_item = 120
discount = 0.15
discounted_price = cost_per_item - cost_per_item * discount
print(discounted_price)

102.0

Question 6: A company produces 500 units daily and sells each unit for $20. Declare variables units_per_day and price_per_unit. Calculate the monthly revenue assuming a 30-day month and store it in monthly_revenue.

In [15]:
units_per_day = 500
price_per_unit = 20
total_sales_per_day = units_per_day * price_per_unit
monthly_revenue = total_sales_per_day * 30
print(monthly_revenue)

300000

Question 7: A farmer grows wheat on a 150-acre farm and yields 3,000 kg per acre. Declare variables acreage and yield_per_acre. Calculate the total wheat production and store it in total_production

In [16]:
acre_age = 150
yield_per_acre = 3000
total_production = acre_age * yield_per_acre
print(total_production)

450000

Question 8: A bakery makes $2 profit on each loaf of bread sold. If they sell 200 loaves in a day, declare variables profit_per_loaf and loaves_sold. Calculate the daily profit and store it in daily_profit.

In [17]:
loaves_sold = 200
profit_per_loaf = 2
daily_profit = loaves_sold * profit_per_loaf
print(daily_profit)

400

Question 9: You are planning an event for 120 attendees. The venue rental is $800, and catering costs $25 per person. Declare variables venue_cost, catering_cost_per_person, and number_of_attendees. Calculate the total cost of the event and store it in event_total_cost.

In [18]:
venue_cost = 800
catering_cost_per_person = 25
number_of_attendees = 120

event_cost_per_person = number_of_attendees * catering_cost_per_person
event_total_cost = event_cost_per_person + venue_cost
print(event_total_cost)

3800

Question 10: A school's annual fee per student is $1,500, and they provide a 5% sibling discount. Declare variables annual_fee and sibling_discount_percent. Calculate the discounted fee for one sibling and store it in sibling_discounted_fee.

In [19]:
annual_fee = 1500
sibling_discount_percent = 0.05
sibling_discounted_percent = annual_fee * sibling_discount_percent
print(sibling_discounted_percent)

75.0

In [ ]:
#Imagine you are building a weather.com portal. Now on this portal you have been asked to add the functionality as follows:
#for any temperature the user entered you have to say if it is high or low
#Any temperature above 40 degree considered it to be high
# any temperature below 10 degree considered it to be low

# Example: If user entered 50 degree

In [11]:
temp = int(input("Enter the temperature "))

if temp > 40:
  print("It is a high temperature")

if temp < 10:
  print("It is a low temperature")

Enter the temperature 5
It is a low temperature

In [12]:
if temp > 40:
  print("It is a high temperature")
else:
  print("It is a low temperature")

It is a low temperature

In [ ]:
# Imagine you are going to a movie with your family. You, including your spouse and kid who is nine (9) years old.
# Tuesday offer in PVR, for adults who is above 18 years, ticket price is 100 Rupees.
# for kids who are below 18 years, ticket price is 50 Rupees.

# how much to pay

In [7]:
husband = 28
wife = 24
kid = 17

amount = 0

if husband > 18:
  amount = amount + 100

if wife > 18:
  amount = amount + 100

if kid > 18:
  amount = amount + 100

else:
  amount = amount + 50


print(amount)

250

In [ ]:
# you are a developer at Zomaoto, They are lunching for a new offer.
# If you order above 500 Rupees, you will get 20% off.
#If you order below 500 Rupees, you will get 10% off.

#Also, there is another special offer,
#if you order for above 500 rupees and your shipping distance below 10KM
#you will get additional 5% off.
#If the shipping distance is above 10KM then you will 20% additional off.

#Now, tell me how much I have to pay for example
#I ordered for 1000 rupees and my shipping distance is 5 KM

In [ ]:
order = 700
shipping_distance = 10
amount = 0

if order > 500:
  discount = 0.2
  amount = amount +

if shipping_distance > 10
discount = 0.2

if order > 500:
  shipping_distance

if order < 500:
  discount = 0.1